     _                  _                
    / \   _ __  _ __   | |    ___   __ _ 
   / _ \ | '_ \| '_ \  | |   / _ \ / _` |
  / ___ \| |_) | |_) | | |__| (_) | (_| |
 /_/   \_\ .__/| .__/  |_____\___/ \__, |
~~~~~~~~~|_|~~~|_|~~~~~~~~~~~~~~~~~~|___/

{% for x in context.log[-10:] %}
 [Apr. 20 2020 4:20 PM] {{x}}{% endfor %}