### About ###
    _ \             |              _)      |   
   |   | |   |  __| |  / |   |  __| |  __| __|
   __ <  |   | (      <  |   |\__ \ |\__ \ |  
  _| \_\\__,_|\___|_|\_\\__,_|____/_|____/\__|
* Created by Ruckusist @ Ruckusist.com
* Clone  @ Ruckusist.com/ruckusTUI.git
    or   @ github.com/ruckusist/ruckusTUI.git

TUI in python is still harder than it should be.
Hopefully this helps someone get their data on
their screen faster than doing this all over from
scratch everytime.